<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head(~{::title})">
<title>My Closet</title>
</head>
    <link rel="stylesheet" href="/recursos/CSS/closet.style.css"></link>
<body>
	<header th:replace="layout/layout :: header"></header>

	<main>
		<div class="wrapper">
			<div>
				<img class="img" src="/recursos/Imagenes/6.png" alt="ropa" />
				<p class="text">Arma tu outfit</p>
			</div>

			<div class="wrapper-closet">
				<br></br>
				<form>
					<table class="table table-bordered">
							<thead>
							<tr>
								<th class="text-center">Producto</th>
								<th class="text-center">Precio</th>
								<th class="text-center">Operacion</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="p: ${myProducts}">
								<td th:text="${p.product.name}"></td>
								<td th:text="${p.product.price}"></td>
								<td><a th:href="@{'/myProducts/delete/' + ${p.idMyProduct}}">Eliminar</a></td>


							</tr>
						</tbody>
					</table>

					<a class="btn btn-secondary" th:href="@{/purchase/buy}">Comprar</a>

				</form>
			</div>
		</div>
	</main>
</body>
</html>